<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>pollster: vote on {{poll_title}}</title>
    <link rel="shortcut icon" type="image/jpg" href="https://ryanjchen.com/favicon.ico"/>
</head>
<style>
    #title {
        color: black;
        text-align: center;
        text-decoration: none;
    }
    
    #about{
        text-align: center;
    }
</style>
<script>
    function submitForm() {
        var form = document.getElementById("form");
        form.submit();
    }

</script>

<body>
    <div class="container">
        <div class="row mb-3 justify-content-center">
            <div class="col-lg-4 col-sm-8">
                <h1 id="title"><a href="/" id="title">pollhead</a></h1>
            </div>
        </div>
        <form id="form" action="{{ url_for('vote_route', id=poll_id) }}" method="POST">
            <div class="row mb-3 justify-content-center" id="row-title">
                <div class="col-lg-4 col-sm-8">
                    <h3>{{title}}</h3>
                </div>
            </div>
            <div class="row mb-3 justify-content-center" id="row-1">
                <div class="col-lg-4 col-sm-8">
                    <div class="list-group">
                    {% for option in options -%}
                    <label class="list-group-item">
                        <input name="vote" class="form-check-input me-1" type="radio" value="{{option}}">
                        {{option}}
                    </label>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </form>
        <div class="row mb-3 justify-content-center">
            <div class="col-lg-4 col-sm-8 mx-auto d-grid gap-2">
                <button type="submit" class="btn btn-success" onclick="submitForm()">Submit</button>
            </div>
        </div>
        <div class="row mb-3 justify-content-center">
            <div class="col-lg-4 col-sm-8 mx-auto d-grid gap-2">
                <button id="clipboard" class="btn btn-secondary"
                    data-clipboard-text="{{'https://pollster.ryanjchen.com/poll/' + poll_id}}">
                    Copy link to clipboard
                </button>
            </div>
        </div>
        <div class="row mb-3 justify-content-center">
            <div class="col-lg-4 col-sm-10 mx-auto d-grid gap-2" id="about">
                <a href="/about"><button type="button" class="btn btn-secondary-outlined">About</button></a>
            </div>
        </div>
        <div class="toast-container position-absolute bottom-10 start-50 translate-middle-x">
            <div class="toast d-flex align-items-center text-white bg-primary border-0 " role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-body">
                    Copied!
                </div>
                <button type="button" class="btn-close btn-close-white ms-auto me-2" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>

    </div>
</body>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.6/dist/clipboard.min.js"></script>
<script>
    var toastElList = [].slice.call(document.querySelectorAll('.toast'))
    var toastList = toastElList.map(function (toastEl) {
        return new bootstrap.Toast(toastEl)
    })

    var clipboard = new ClipboardJS('#clipboard');

    clipboard.on('success', function (e) {
        toastList[0].show()
    });

    clipboard.on('error', function (e) {
        console.error('Action:', e.action);
        console.error('Trigger:', e.trigger);
        showTooltip(e.trigger, fallbackMessage(e.action));
    });
</script>

</html>